---
import FormatedDate from "../utils/FormatedDate.astro";
const date = new Date();
---

<p class='mx-auto py-5 items-center text-center f-xs'>
  ©{date.getFullYear()} Brayan Cordova. Ultima actualización: <FormatedDate date={date} />
</p>