---
interface CardExperienceProps {
  title: string;
  emp: string;
  description?: string;
  date: string;
}
const {title, emp, description, date} = Astro.props as CardExperienceProps;
---

<div class='flex flex-col items-start gap-2'>
  <div class='flex flex-col gap-2'>
    <p class='font-bold'>{title}</p>
    <p class='f-sm font-bold bg-linear-to-r from-[#FF585B] to-red-500 bg-clip-text text-transparent'>{emp}</p>
    {description && <p class='f-sm text-neutral-400'>{description}</p>}
  </div>

  <p class='f-sm text-neutral-300 text-center'>{date}</p>
</div>
